@font-face {
    font-family: myFont;
    src: url(./KumbhSans-VariableFont_wght.ttf);
}

/* mobile first design */
html {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40% 16px 0 16px;
    font-family: myFont;
    font-size: 12px;    
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    width: 90%;    
    padding: 0% 16px 10% 16px;
}

.img-container {
    display: flex;
    flex-direction: column;    
    margin-top: -40%;
    padding: 0 5% 0 5%;
    z-index: 2;
}

.img {
    content: url(./images/illustration-woman-online-mobile.svg);
}

.img-background {
    content: url(./images/bg-pattern-mobile.svg);    
    margin-top: -35%;
}

.faq-container {
    padding: 0 12px 0 24px;
}

.faq {
    border-bottom: solid 1px hsl(240, 5%, 91%);;
}

h1 {
    text-align: center;
    font-weight: 700;
}

h2 {
    display: flex;
    font-size: inherit;
    font-weight: inherit;
    justify-content: space-between;
}

h2:hover {
    cursor: pointer;
    color: orange;
}

h2::after {
    content: url(./images/icon-arrow-down.svg);
}

.active {
    font-weight: bold;
}

.answer {
    display: none;
    transition: 3s;
}

/* desktop design */
@media only screen and (min-width: 375px) {
    html {
        display: flex;
    }

    body {
        display: flex;
        padding: 0 10% 0 10%;
        font-size: 16px;        

    }

    .container {
        display: grid;
        width: 85%;
        height: auto;
        align-items: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 1fr;
        padding: 16px;
        margin-bottom: 36px;
    }

    .img-container {        
        grid-row: 1/-1;
        margin: 10% 0 10% -30%;  
    }

    .img {
        content: url(./images/illustration-woman-online-desktop.svg);
        width: 90%;
        z-index: 10;
    }

    .img-background {
        content: url(./images/bg-pattern-desktop.svg);
        width: 90%;
        margin-top: -75%;
    }    

    h1, .faq-container {
        text-align: left;
        padding-left: 24px;
    }

    .faq-container {
        align-self: flex-start;
    }
}
