@font-face {
    font-family: myFont;
    src: url(./Epilogue-VariableFont_wght.ttf);
}
/* desktop first */

body {
    padding: 16px;
    font-family: myFont;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    margin-bottom: 36px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 36px;
}

.primary, .secondary {
    display: flex;
    gap: 36px;
    justify-content: flex-end;
    align-items: center;    
}

.expand {
    cursor: pointer;
    background-color: inherit;
    border: inherit;
    font-family: inherit;
    font-size: inherit;
}

.expand::after{
    padding-left: 12px;    
    content: url(./images/icon-arrow-down.svg);
}

.active::after{
    content: url(./images/icon-arrow-up.svg);
}

.dropdown {
    position: absolute;
    display: flex;    
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.124);
    animation: growDown 300ms;
}

.dropdown > a > img {
    width: 15px;
    height: 15px;
    padding-right: 12px;
}

.hidden {
    display: none;
}

.cta, .learn-more:hover, .register {
    cursor: pointer;
    color: black;
    background-color: inherit;    
    padding: 12px 24px 12px 24px;
    border-radius: 12px; 
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, button:hover {
    font-weight: bold;
}

h1 {
    font-size: 4em;
    font-weight: bolder;
    padding-top: 50px;
}

.content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    align-items: flex-end;    
    padding: 0 10% 0 10%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10%;
    gap: 24px;
}

.text {
    display: flex;
    flex-direction: column;
    padding-right: 48px;
    gap: 18px;
}

.learn-more {
    background-color: black;
    color: white;
    align-self: flex-start;
}

.clients {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}

.clients > img {
    height: 24px;
}

.hero {    
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: contain;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    50% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

@media screen and (max-width: 800px) {   
    body {
        align-items: center;
        padding: 0;        
        margin: 0;
    }

    header {
        align-self: flex-start
    }

    logo {
        padding: 12px 0 0 12px;
    }

    nav {
        position: fixed;
        height: 100vh;
        width: 50%;
        right: 0;        
        top: 0;
        background-color: white;
        display: flex;
        flex-direction: column;   
        justify-content: flex-start;
        align-items: flex-start;
        padding: 24px 18px 0 18px; 
    }

    .dropdown {
        position: inherit;
        box-shadow: none;
        padding-left: 2em;
    }

    .primary {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .primary::before {
        content: url(./images/icon-close-menu.svg);        
        align-self: flex-end;
    }

    .secondary {        
        flex-direction: column;        
        width: 100%;
    }

    .secondary > button {
        width: 70%;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }

    .hero {
        content: url(./images/image-hero-mobile.png);                
    }

    
}