@font-face {
    font-family: myFont;
    src: url(./Epilogue-VariableFont_wght.ttf);
}
/* desktop first */

body {
    padding: 16px;
    font-family: myFont;
    font-size: 18px;
    color: hsl(0, 0%, 41%);
    display: flex;
    flex-direction: column;
}

header {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 36px;
    margin-bottom: 36px;
}

.mobile-menu {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 36px;
}

.primary, .secondary {
    display: flex;
    gap: 36px;
    justify-content: flex-end;
    align-items: center;    
}

.expand {
    cursor: pointer;
    background-color: inherit;
    border: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.expand::after{
    padding-left: 12px;    
    content: url(./images/icon-arrow-down.svg);
}

.active::after{
    content: url(./images/icon-arrow-up.svg);
}

.dropdown {
    position: absolute;
    display: flex;    
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.124);
    animation: growDown 300ms;
}

.dropdown > a > img {
    width: 15px;
    height: 15px;
    padding-right: 12px;
}

.hidden {
    display: none;
}

.cta, .learn-more:hover, .register {
    cursor: pointer;
    color: black;
    background-color: inherit;    
    padding: 12px 24px 12px 24px;
    border-radius: 12px; 
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, button:hover {
    font-weight: bold;
}

h1 {
    font-size: 4em;
    color: black;
    font-weight: bolder;
    padding-top: 60px;    
}

.content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    align-items: flex-end;    
    padding: 0 10% 0 10%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10%;
    gap: 24px;
}

.text {
    display: flex;
    flex-direction: column;    
    padding-right: 48px;
    gap: 18px;
}

.learn-more {
    background-color: black;
    color: white;
    align-self: flex-start;
}

.clients {
    padding-top: 48px;
    display: flex;
    justify-content: space-evenly;
}

.clients > img {
    max-height: 24px;
    max-width: 12em;
}

.hero {    
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: contain;
}

/* mobile */
@media screen and (max-width: 800px) {   
    body {
        align-items: center;
        padding: 0;        
        margin: 0;        
    }

    header {
        display: flex;
        justify-content: space-between;
        width: 100%;    
    }

    logo {
        padding: 12px 0 0 12px;
    }

    .mobile-menu {
        padding: 24px;
        display: block;  
        align-self: flex-end;
    }

    .nav-container {
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;        
        background-color: hsl(0, 0%, 8%, 0.5);     
        display: none;
    }

    nav {
        position: fixed;
        height: 100vh;
        width: auto;
        left: 40%;     
        right: 0;   
        display: flex;
        flex-direction: column;   
        justify-content: flex-start;
        align-items: flex-start;
        background-color: white;              
        padding: 0 18px 0 18px;
    }

    .nav-container {
        animation: slideout 1s;
    }

    .show {
        display: block;
    }

    .dropdown {
        position: inherit;
        box-shadow: none;
        padding-left: 2em;
    }

    .primary {
        flex-direction: column;
        align-items: flex-start;     
        width: 100%;   
    }

    .expand {
        padding: 0;
    }

    .secondary {        
        flex-direction: column;
        margin-top: 48px;        
        width: 100%;
    }

    .secondary > button {
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }

    .hero {
        content: url(./images/image-hero-mobile.png);                
    }

    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    .text-container {
        padding: 0 12px 24px 12px;
    }

    .text {
        align-items: center;
        text-align: center;
        gap: 8px;
        padding: 0;
    }

    .learn-more {
        align-self: center;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    50% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

@keyframes slideout {
    from { 
        margin-left : 100%;
        width: 200%;
    }
    to   { 
        margin-right : 40%;
        width: 100%;}
}