@font-face {
    font-family: myFont;
    src: url(./LibreFranklin-Thin.ttf);
}

html {
    height: 100vh;
    width: 100vw;
    text-align: center;     
}

body {
    display: flex;
    flex-direction: column;        
    font-family: myFont;    
    justify-content: space-around;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0 12px 0 12px;
    color:  hsl(0, 0%, 59%);    
}

.logo {
    max-width: 70px;
}

h1 {
    font-weight: 100;
}

h2 {
    font-size: 1em;
    color: black;
}

b {
    font-weight: 900;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 5% 20% 5%;
}

.email, button {
    border: solid 1px hsl(223, 100%, 88%);
    border-radius: 24px;
    width: 100%;
    height: 3em;
    box-sizing: border-box;
}

.email {
    color: black;
    padding-left: 24px;
}

::placeholder {
    color:  hsl(223, 100%, 88%);    
    padding-left: 18px;
}

button {
    color: white;
    background-color: hsl(223, 87%, 63%);
    box-shadow: 1px 1px 10px hsl(223, 100%, 88%);
}

button:hover, svg:hover {
    cursor: pointer;
    background-color: hsl(223, 100%, 75%);
    fill: white;
}

img {
    max-width: 90%;
}

.social {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 12px;
}

svg {
    border: solid 1px hsl(0, 0%, 59%);    
    padding: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    fill: hsl(223, 87%, 63%);
}

footer {
    font-size: 12px;
}

.error {
    border: solid 1px red;    
}

.error-message {
    padding-top: 8px;
    padding-bottom: 36px;
    font-family: inherit;
    font-style: italic;
    font-weight: 800;
    color: red;
    font-size: 12px;
}

/* desktop */
@media screen and (min-width:481px) {   
    main {
        display: flex;
        flex-direction: column;
        align-items: center;     
        margin: 24px 12px 0px 12px;   
    }

    form {
        justify-content: center;
        flex-direction: row;                
        max-width: 60%;
        gap: 24px;        
        padding: 10px 10px 36px 10px;
    }

    .email-box {
        text-align: left;
        min-width: 36ch;
        max-width: 50%;
    }

    .error-message {
        padding-left: 24px;
        padding-bottom: 0;
    }

    button {
        min-width: 150px;
    }

    img {
        max-width: 50%;
    }
}