@font-face {
    font-family: myFont;
    src: url(Outfit-VariableFont_wght.ttf)
}

body {
    font-size: 15px;
    font-family: myFont;
    color: #a5a8b1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 250px;
    height: 400px;
    padding: 16px;
    background-color: white;
    border-radius: 12px;
}

.qr-container {
    display: flex;
    justify-content: center;    
}

.qr-code {
    width: 250px;
    border-radius: 12px;
    flex-basis: auto;
}

.textbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px 0 8px;
}

.textbox > .header {    
    color: black;
    font-weight: 700;
    font-size: 18px;
}